@import url('https://fonts.googleapis.com/css?family=Lato');

html,
body {
    font-family: 'Lato', sans-serif;
    height: calc(100% - 98px);
}

footer {
    background-color: #044c84;
    min-height: 50px;
    height: auto;
}

footer p {
    margin-top: 1rem;
}

#root {
    height: 100%;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    max-width: 1024px;
    margin: auto;
}

.nav-link {
    color: #044c84 !important;
}

.nav-link:hover {
    color: #002e62 !important;
}

.lightgray {
    color: #f8f8f8;
}

button:focus {
    outline-color: #044c84;
}

button.btn {
    background-color: white;
}

.jumbotron {
    background-color: transparent;
}

.h-100 {
    min-height: 95vh;
}

.mt-10 {
    margin-top: 10em;
}

.mt-center {
    margin-top: calc(100% - 80%);
}

.eos {
    letter-spacing: 2rem;
    padding-left: 30px;
    font-weight: 200;
    margin-top: .5rem !important;
}

.brazil {
    font-size: 2.2rem !important;
    letter-spacing: .5rem;
    padding-left: 12px;
    font-weight: 100;
}

.logo-text {
    font-size: 3rem;

    color: #002e62;
    margin: 0;
}

@media (min-width: 768px) {
    .eos {
        letter-spacing: 5rem;
        padding-left: 75px;
        font-weight: 200;
        margin-top: .5rem !important;
    }

    .brazil {
        font-size: 4.1rem !important;
        font-weight: 100;
        letter-spacing: 1.2rem;
        padding-left: 19px;
    }

    .logo-text {
        font-size: 5rem;
        color: #002e62;
        margin: 0;
    }
}


@media (min-width: 1024px) {
    .mt-center {
        margin-top: calc(100% - 90%);
    }
}

a {
    color: #095590;
}

.btn-outline-custom {
    color: #044c84;
    border-color: #044c84;
    border-radius: 0;
}

.btn-outline-custom:hover {
    color: #fff;
    background-color: #044c84;
    border-color: #044c84;
}

.btn-outline-custom:focus {
    color: #fff;
    background-color: #044c84;
    border-color: #044c84;
    box-shadow: 0 0 0 0.2rem rgba(4, 76, 132, 0.53);
}

.card,
.card-img-top {
    border-radius: 0;
    border: none;
}

.card-title {
    font-size: 1.3125em;
}

.card-header {
    background-color: #fff;
}

.list-group-item {
    border: none;
}

.team__avatar {
    max-width: 450px;
    width: 100%;
    margin: auto;
}

.text-black-70 {
    color: #383838;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #044c84;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.card-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.card-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #f5b81a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50.4%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: .75rem 1.25rem;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .card-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .card-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 18px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0;
    }
}
